<div class="body">
  <div class="container-1">
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>01</h2>
          <h3>Mern Stack</h3>
          <p>
            The MERN stack is a popular set of technologies for building
            full-stack web applications
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="content">
          <h2>02</h2>
          <h3>QA</h3>
          <p>
            QA, or Quality Assurance, ensures products or services meet specific standards and requirements through testing and monitoring processes to maintain high quality and reliability.
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="content">
          <h2>03</h2>
          <h3>Java</h3>
          <p>
            Java is used for creating web apps, Android apps, enterprise software, and big data processing systems due to its versatility and performance.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-1">
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>04</h2>
          <h3>DSA</h3>
          <p>
            DSA stands for Data Structures and Algorithms, essential tools in computer science for organizing and processing data efficiently.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
