<section id="welcome-hero" class="welcome-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="header-text">
          <h2>
            hi <span>,</span> i am <br />
            aradhana
            shah <span>.</span>
          </h2>
          <p>Front-end web developer</p>
          <a href="../../assets/CV_202402271542074.pdf" download>download resume</a>
        </div>
        <!--/.header-text-->
      </div>
      <!--/.col-->
    </div>
    <!-- /.row-->
  </div>
  <!-- /.container-->
</section>

<!--about start -->
<section id="about" class="about">
  <div class="section-heading text-center">
    <h2>about me</h2>
  </div>
  <div class="container">
    <div class="about-content">
      <div class="row">
        <div class="col-sm-6">
          <div class="single-about-txt">
            <h3>
              Hi, I'm Aradhana Shah, a frontend developer skilled in HTML, CSS, JavaScript, React, and Angular. I specialize in creating user-friendly interfaces that merge design with functionality. Let's build intuitive digital experiences together!
            </h3>
            <p>
              Welcome to my portfolio! Hi, I'm Aradhana Shah, a frontend developer passionate about creating user-friendly interfaces. With [Number of Years] years of experience, I specialize in HTML, CSS, JavaScript, and frameworks like React and Angular. I love turning design ideas into functional websites and apps that provide great user experiences. I enjoy staying updated with the latest frontend trends and techniques to continuously improve my skills. Let's collaborate on building intuitive and impactful digital experiences!
            </p>
            <div class="row">
              <div class="col-sm-4">
                <div class="single-about-add-info">
                  <h3>phone</h3>
                  <p>9693363417</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="single-about-add-info">
                  <h3>email</h3>
                  <p>aradhana&commat;gmail.com</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="single-about-add-info">
                  <h3>website</h3>
                  <p>www.aradhana.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
          <div class="single-about-img">
            <img src="../../assets/images/IMG_20231024_222508.jpg" alt="profile_image" />
            <div class="about-list-icon">
              <ul>
                <li>
                  <a href="#">
                    <fa-icon [icon]="faFacebookF"></fa-icon>
                  </a>
                </li>
                <!-- / li -->
                <li>
                  <a href="#">
                    <fa-icon [icon]="faDribbble"></fa-icon>
                  </a>
                </li>
                <!-- / li -->
                <li>
                  <a href="#">
                    <fa-icon [icon]="faTwitter"></fa-icon>
                  </a>
                </li>
                <!-- / li -->
                <li>
                  <a href="#">
                    <fa-icon [icon]="faLinkedinIn"></fa-icon>
                  </a>
                </li>
                <!-- / li -->
                <li>
                  <a href="#">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                  </a>
                </li>
                <!-- / li -->
              </ul>
              <!-- / ul -->
            </div>
            <!-- /.about-list-icon -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/.about-->
<!--about end -->

<!--education start -->
<section id="education" class="education">
  <div class="section-heading text-center">
    <h2>education</h2>
  </div>
  <div class="container">
    <div class="education-horizontal-timeline">
      <div class="row">
        <div class="col-sm-4">
          <div class="single-horizontal-timeline">
            <div class="experience-time">
              <h2>2017 - 2018</h2>
              <h3>Matriculation</h3>
            </div>
            <!--/.experience-time-->
            <div class="timeline-horizontal-border">
              <fa-icon [icon]="faCircle"></fa-icon>
              <span class="single-timeline-horizontal"></span>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <h4 class="title">Araniko Sec. Eng. Boa. School</h4>
                <h5>Janakpur dham, Nepal</h5>
                <p class="description">
                  I completed my matriculation with 75% from the Nepal board,
                  reflecting my strong academic foundation and commitment to
                  excellence in subjects like mathematics, science, languages,
                  and social studies.
                </p>
              </div>
              <!--/.timeline-content-->
            </div>
            <!--/.timeline-->
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-horizontal-timeline">
            <div class="experience-time">
              <h2>2018 - 2021</h2>
              <h3>Diploma</h3>
            </div>
            <!--/.experience-time-->
            <div class="timeline-horizontal-border">
              <fa-icon [icon]="faCircle"></fa-icon>
              <span class="single-timeline-horizontal"></span>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <h4 class="title">Sanskriti University</h4>
                <h5>Mathura</h5>
                <p class="description">
                  I completed my Diploma with 79% in Computer Science Engineering
                </p>
              </div>
              <!--/.timeline-content-->
            </div>
            <!--/.timeline-->
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-horizontal-timeline">
            <div class="experience-time">
              <h2>2021-2025</h2>
              <h3>Bachelor <span>of </span> Technology</h3>
            </div>
            <!--/.experience-time-->
            <div class="timeline-horizontal-border">
              <fa-icon [icon]="faCircle"></fa-icon>
              <span
                class="single-timeline-horizontal spacial-horizontal-line"
              ></span>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <h4 class="title">SVIET</h4>
                <h5>Banur</h5>
                <p class="description">
                  I am currently pursuing a BTech in Computer Science and
                  Engineering at SViet College, with an expected graduation in
                  2025. Till now, I have achieved an SGPA of 8.1.
                </p>
              </div>
              <!--/.timeline-content-->
            </div>
            <!--/.timeline-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/.education-->
<!--education end -->
